.header
  .portada
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &-info
      width: 100%
      background-color: #0F8195
      padding: 8% 0
      color: white
      .title
        font-size: 35px
      .text
        margin-top: 10px
        font-size: 16px
      .vertical
        display: inline-block
        color: white
        padding: 14px 17px
        background: #1475c4
        text-decoration: none
        cursor: pointer
        border: none
        border-radius: 3px
        margin: 20px 0
      .button:hover
        background-color: #044a7c
        transition: all 0.5s ease
        border-radius: 3px
  .menu
    &-list
      display: flex
      justify-content: center
      align-items: center
      margin: 15px 0
      .item
        cursor: pointer
        list-style: none
        padding: 15px
        box-sizing: border-box
        margin: 0 -2px
        a
          color: black
          font-weight: bold
          font-size: 16px
          text-decoration: none
      .item:hover
        background-color: #9bd2fa
        border-radius: 5px
        transition: all 0.5s ease
      .item:active
        background-color: rgb(130, 252, 230)

.author
  display: flex
  justify-content: center
  padding: 0 0 80px 0
  .photo
    background-color: #0F8195
    padding-right: 0px
    width: 40%
    height: 45vh
  .data
    background-color: #ece6e6
    padding-left: 40px
    padding-right: 80px
    width: 60%
    &-sobreMi
      padding-top: 25px
      display: block
    &-linea
      margin-left: 15px
      border: 3px solid red
    &-name
      margin-top: 20px
      margin-bottom: 0px
      font-weight: bold
      font-size: 19px
    &-title
      margin-top: 1px
      font-size: 14px
    &-info
      font-size: 13px
      line-height: 18px
      margin: 15px 0 30px 0
    &-curriculum
      text-align: center
      border: 2px solid black
      display: inline-block
      padding: 11px 12px
      font-size: 13px
      list-style: none
      text-decoration: none
      font-weight: bolder
      margin-left: 15px
    &-curriculum:hover
      background-color: #9bd2fa
      transition: all 0.5s ease

.expertise
  padding: 80px 0
  margin: 0 auto
  .descrition
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    &-title
      padding-bottom: 0px
      margin-bottom: 5px
    &-linea
      padding-top: 0px
      border: 3px solid red
    &-info
      margin-top: 30px

  .herraminetas
    text-align: center
    padding-top: 45px
    &-diseñoWeb, &-frontend
      margin-bottom: 28px
      .photoshop, .illustrator, .flash, .html5css3, .jquery, .phpmysql
        display: flex
        flex-direction: column
        align-items: center
        .photoshop, div + .illustrator, div + .flash, div + .html5css3, div + .jquery, div + .phpmysql, div
          border-radius: 50px 50px
          border: 5px solid red
          line-height: 80px
          font-size: 16px
          font-weight: bolder
          width: 90px
          height: 90px
        .photoshop, h4 + .illustrator, h4 + .flash, div
          margin-top: 20px
        .photoshop, p + .illustrator, p + .flash, p + .html5css3, p + .jquery, p + .phpmysql, p
          padding: 0 20px
